deepest_discount.csv
discounts_graph.jpg
key_brands_graph.jpg
nike_discount_products.csv
products_discount.csv
zalando_sneakers_data.csv
Captura de pantalla 2021-11-22 a las 20.15.17.png
Captura de pantalla 2021-11-22 a las 20.16.58.png
Captura de pantalla 2021-11-22 a las 20.15.42.png
.ipynb_checkpoints
